{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Month</th>
        <th scope="col">1958</th>
        <th scope="col">1959</th>
        <th scope="col">1960</th>
    </tr>
    </thead>
    <tbody>
    hello
    {% for data in airTravelData %}
    <tr>
        <td><a href="view/{{data.id}}">{{ data.Month }}</a></td>
        <td>{{ data.Column_1958 }}</td>
        <td>{{ data.Column_1959 }}</td>
        <td>{{ data.Column_1960 }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}