{% extends "layout.html" %}
{% block content %}
<form action="/airTravelData/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldMonth">Month</label>
            <input id="fldMonth" type="text" class="form-control" placeholder="Month" name="fldMonth">
        </div>
        <div class="col">
            <label for="fld1958">Column_1958</label>
            <input id="fld1958" type="text" class="form-control" placeholder="Column_1958" name="fld1958">
        </div>
        <div class="col">
            <label for="fld1959">Column_1959</label>
            <input id="fld1959" type="text" class="form-control" placeholder="Column_1959" name="fld1959">
        </div>
        <div class="col">
            <label for="fld1960">Column_1960</label>
            <input id="fld1960" type="text" class="form-control" placeholder="Column_1960" name="fld1960">
        </div>
    </div>
    <br/>
    <div>
    <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>

{% endblock %}